.search-header-global-mobile {
  padding: 0 0.8rem;
}
.mobile-search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  cursor: pointer;
  border-radius: 48px;
  padding: 0 0.5rem;
  border: 1px solid #bababa;
  width: 100%;
  display: flex;
  margin-bottom: 0.6rem;
}
.mobile-search-container:hover {
  box-shadow: 0px 2px 6px 0px #cccaca;
}

.mobile-search-content {
  flex: 1;
  background: #ffffff;

  margin: 1rem;
}

.mobile-search-image {
  /* width: 1rem; */
  height: 1rem;
  border-radius: 10px;
}
@media screen and (min-width: 768px) {
  .mobile-search-container {
    display: none;
  }
}
