.homeSliderProductsBestSellers .product-slider-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  background-color: #ffffff;
}

#title {
  align-self: flex-start;
  padding-bottom: 1rem;
  color: #ffffff;
  font-family: Roboto;
  font-size: 24px;
  font-style: italic;
  font-weight: 800;
  line-height: 32px;
  text-align: left;
}
/*! contenedor de card jcc en desktop */
.product-slider-wrapper {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  justify-content: center;
}

.product-slider-image {
  flex: 0 0 auto;
}
/*? esferas de paginas automatizadas y clicables*/
.product-slider-image.active {
  flex: 0 0 auto;
}

.product-pagination {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  column-gap: 0.2rem;
}

.product-pagination div {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1.5px solid #ffffff;
  margin: 0 5px;
  cursor: pointer;
}
/*? esferas de los mas vendidos */
#masVendidos h1 {
  margin-bottom: 2rem;
  background-color: #dc1e0f;
  font-family: 'Courier New', Courier, monospace;
}
#masVendidos {
  margin: rem 0;
}
#masVendidos .product-pagination div {
  border: 1.5px solid #dc1e0f;
}
#masVendidos .product-pagination div.active {
  background-color: #dc1e0f;
}
.product-pagination div.active {
  background-color: #ffffff;
}
@media screen and (min-width: 768px) {
  #title {
    padding-left: 2rem;
  }

  /*? card box container products*/
  .product-slider-wrapper {
    justify-content: center;
  }
  /*?esferas de product cards*/
  .product-pagination {
    display: none;
  }
}

.product-slider-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  background-color: #ffffff;
}

.titulados-containers {
  display: flex;
  margin-top: 1rem;
}

.product-slider-wrapper {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  justify-content: center;
}

.product-slider-image {
  flex: 0 0 auto;
}

.product-pagination {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.product-pagination div {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1.5px solid #ffffff;
  margin: 0 5px;
  cursor: pointer;
}

.product-pagination div.active {
  background-color: #ffffff;
}
.arrows-cards {
  display: none;
}
@media screen and (min-width: 768px) {
  .product-pagination {
    display: none;
  }

  .titulados-containers {
    margin-left: 1.3rem;
  }
  .arrows-cards {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 7rem;
    box-shadow: 0px 4px 20px 0px #80808040;
    background: #ffffff;
    width: 36px;
    height: 36px;
    position: relative;
    left: 4px;
    gap: 0px;
    opacity: 0px;
    border-radius: 100%;
  }
  .arrows-cards:hover {
    cursor: pointer;
  }
}
