.store-title {
  color: #0f1e7b;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 32px;
  font-style: italic;
  font-weight: 800;
  line-height: 37.5px;
  letter-spacing: 0.1em;
  text-align: left;
  white-space: nowrap;
}
