/** Commercial styles (services) */
/* radius buttons  slider */
.homeSliderServices {
  display: flex;
  width: 100%;
  align-items: center;

  justify-content: center;
  margin-top: 4rem;
}
.homeSliderServices .slider-container {
  height: 290px;
  position: relative;
  width: 100%;
  overflow: hidden;
  background-color: #ececec;
  padding: 40px, 0px, 40px, 0px;
  padding-top: 40px;
  /* max-width: 360px; */
}
.homeSliderServices .slider-images {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.homeSliderServices .slider-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.homeSliderServices .slider-wrapper {
  display: flex;
  background-color: #ececec;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.homeSliderServices .slider-wrapper img {
  /*! cambiar en desktop max-height none*/
  width: 100%;
  height: 200px;
  object-fit: cover;

  object-position: center;
  margin-bottom: 1rem;
}
.homeSliderServices .slider-image {
  display: none;
  justify-content: center;
  align-items: center;
}

.homeSliderServices .slider-image.active {
  display: block;
}

.homeSliderServices .pagination {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: flex-end;
  height: 100%;
  width: 100%;
  justify-content: center;
}

.homeSliderServices .pagination div {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1.5px solid #000000;
  margin: 0 5px;
  cursor: pointer;
}

.homeSliderServices .pagination div.active {
  background-color: #000000;
}

/*! Home configurations Services Sliders */
.homeSliderServices .homeSliderGlobal {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.homeSliderServices h1 {
  font-family: Roboto;
  font-size: 24px;
  font-style: italic;
  font-weight: 800;
  line-height: 28px;
  text-align: left;
  padding: 0px 16px 0px 16px;
}
.homeSliderServices {
  background-color: #ececec;
  display: flex;
  flex-direction: column;
}

/*! contenedor global delslider de servicios */
.homeSliderServices .slider-wrapper {
  min-height: 200px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homeSliderServices .slider-wrapper-box {
  display: flex;
}
.homeSliderServices .slider-wrapper img {
  height: max-content;
  width: auto;
  object-fit: cover;
  object-position: center;
}
.homeSliderServices .slider-wrapper .text-box {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0px 16px 0px 16px;
  justify-content: space-between;
}
.image-text-first {
  font-family: Rubik;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  text-align: center;
  color: #000000;
  margin: 0 3.5rem;
}
.homeSliderServices .slider-wrapper .image-text {
  /* Ajusta la posición horizontal del texto */

  color: #3c3c3b;
  text-align: center;
  font-family: Rubik;
  font-size: 16px;
  width: 240px;
  font-weight: 400;
  line-height: 20px;
  bottom: 10px; /* Ajusta la posición vertical del texto */
  left: 50%; /* Ajusta la posición horizontal del texto */
}

/* circles slider */
.homeSliderServices .homeSliderSneaker .pagination {
  position: relative;
  padding-top: 1rem;
}
.homeSliderServices .homeSliderSneaker .pagination div {
  border: 1.5px solid #000000;
}
.homeSliderServices .homeSliderSneaker .pagination div.active {
  background-color: #000000;
}
